<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>input</title>
    <link rel="stylesheet" href="../../../styles.css">
</head>

<body>
    <div class="main">
        <nav class="navbar navbar-fixed">
            <div class="navbrand">KrishUI</div>
            <ul>
                <li class="list-pad list-non-bullet list-item-inline"><a href="./index.html"
                        class="no-decoration color-white">Get-Started</a></li>
                <li class="list-pad list-non-bullet list-item-inline"><a href="./docs/docs.html"
                        class="no-decoration color-white">Documentation</a></li>
            </ul>
        </nav>

        <div class="nav-doc-section">
            <div class="sidenav sidenav-fixed pad-10">
                <h2 class="pad-10">components</h2>
                <ul>
                    <li class="list-sn pad-10"><a class="no-decoration color-black"
                            href="../avatar/avatar.html">avatar</a></li>
                    <li class="list-sn pad-10"><a class="no-decoration color-black" href="../badge/badge.html">badge</a>
                    </li>
                    <li class="list-sn pad-10"><a class="no-decoration color-black"
                            href="../alerts/alerts.html">alerts</a></li>
                    <li class="list-sn pad-10"><a class="no-decoration color-black"
                            href="../button/button.html">buttons</a></li>
                    <li class="list-sn pad-10"><a class="no-decoration color-black"
                            href="../cards/cards.html">cards</a></li>
                    <li class="list-sn pad-10"><a class="no-decoration color-black"
                            href="../image/image.html">image</a></li>
                    <li class="list-sn pad-10"><a class="no-decoration color-black"
                            href="./input.html">input</a></li>
                    
                    <li class="list-sn list-non-bullet pad-10">text</li>
                </ul>
            </div>


            <div class="docs pad-10">
                <h1>Input</h1>
                <p>The input is used to get user input or user data</p>

                <div class="preview-code">
                    <h2>Input-text</h2>
                    <p>use the class basic-input to get the basic text input field</p>
                    <div class="input-block">
                        <div>
                            <label for="name" class="basic-input-label">Name*</label>
                            <input type="text" class="basic-input" placeholder="Enter name">
                        </div> 
                    </div>

                    <div class="code">
                        <iframe class="iframe"
                        src="https://carbon.now.sh/embed?bg=rgba%2850%2C50%2C130%2C1%29&t=vscode&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=13px&ph=7px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%2520%253Clabel%2520for%253D%2522name%2522%2520class%253D%2522basic-input-label%2522%253EName*%253C%252Flabel%253E%250A%2520%253Cinput%2520type%253D%2522text%2522%2520class%253D%2522basic-input%2522%2520placeholder%253D%2522Enter%2520name%2522%253E"
                        sandbox="allow-scripts allow-same-origin">
                        </iframe>
                    </div>
                </div>

                <div class="preview-code">
                    <h2>Input with validation</h2>
                    <p>use the class basic-input-err and err-msg to get the validation style
                    </p>
                    <div class="input-block">
                        <div>
                            <label for="name" class="basic-input-label">Name*</label>
                            <input type="text" class="basic-input basic-input-err" placeholder="Enter name">
                            <small class="err-msg">This is required field*</small>
                        </div> 
                    </div>
                    <div class="code">
                        <iframe class="iframe"
                        src="https://carbon.now.sh/embed?bg=rgba%2850%2C50%2C130%2C1%29&t=vscode&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=13px&ph=7px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Clabel%2520for%253D%2522name%2522%2520class%253D%2522basic-input-label%2522%253EName*%253C%252Flabel%253E%250A%253Cinput%2520type%253D%2522text%2522%2520class%253D%2522basic-input%2520basic-input-err%2522%2520placeholder%253D%2522Enter%2520name%2522%253E%250A%253Csmall%2520class%253D%2522err-msg%2522%253EThis%2520is%2520required%2520field*%253C%252Fsmall%253E"
                        sandbox="allow-scripts allow-same-origin">
                        </iframe>
                    </div>
                </div>        
            </div>
        </div>
    </div>
</body>

</html>

