.input-block{
    margin: 1rem;
}
.basic-input
{
    padding: 0.6rem;
    font-size: 1rem;
    width:32rem ;
    border-radius: 5px;
    border: 0.1rem solid var(--black-light);
}
.basic-input-label
{
    display: block;
    margin: 0.2rem;
}
.input-block
{
    display: flex;
    justify-content: center;
}
.err-msg
{
    display: block;
    color: var(--danger-color);  
}
.basic-input-err
{
    border: 0.1rem solid var(--danger-color);
}
