<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rating</title>
    <link rel="stylesheet" href="../../../styles.css">
    <link rel="stylesheet" href="./rating.css">
</head>

<body>
    <div class="main">
        <nav class="navbar navbar-fixed">
            <div class="navbrand">KrishUI</div>
            <ul>
                <li class="list-pad list-non-bullet list-item-inline"><a href="../install/install.html" class="no-decoration color-white">Documentation</a></li>
                <li class="list-pad list-non-bullet list-item-inline"><a href="https://github.com/teja538/component-library" class="no-decoration color-white">GitHub</a></li>
            </ul>
        </nav>

        <div class="nav-doc-section">
            <div class="sidenav sidenav-fixed pad-10">
                <h2 class="pad-10">Get Started</h2>
                <li class="list-sn list-non-bullet pad-10"><a class="no-decoration color-black" href="../install/install.html">Installation</a></li>
                <h2 class="pad-10">components</h2>
                <ul>
                    <li class="list-sn list-non-bullet"><a class="no-decoration color-black" href="../avatar/avatar.html">Avatar</a></li>
                    <li class="list-sn list-non-bullet"><a class="no-decoration color-black" href="../badge/badge.html">Badge</a></li>
                    <li class="list-sn list-non-bullet"><a class="no-decoration color-black" href="../alerts/alerts.html">Alerts</a></li>
                    <li class="list-sn list-non-bullet"><a class="no-decoration color-black" href="../button/button.html">Buttons</a></li>
                    <li class="list-sn list-non-bullet"><a class="no-decoration color-black" href="../cards/cards.html">Cards</a></li>
                    <li class="list-sn list-non-bullet"><a class="no-decoration color-black" href="../image/image.html">Image</a></li>
                    <li class="list-sn list-non-bullet"><a class="no-decoration color-black" href="../input/input.html">Input</a></li>
                    <li class="list-sn list-non-bullet"><a class="no-decoration color-black" href="../text/text.html">Text</a></li>
                    <li class="list-sn list-non-bullet"><a class="no-decoration color-black" href="../list/list.html">List</a></li>
                    <li class="list-sn list-non-bullet"><a class="no-decoration color-black" href="../navbar/navbar.html">Navbar</a></li>
                    <li class="list-sn list-non-bullet"><a class="no-decoration color-black" href="./rating.html">Rating</a></li>
                </ul>
            </div>


            <div class="docs pad-10">
                <h1>Ratings</h1>
                <p>Ratings and reviews also help customers understand how a product works in real life before they purchase it.Ratings and reviews are an invaluable source of feedback.</p>

                <div class="preview-code">
                    <h2>Star Rating</h2>
                    <div class="rating-block">
                        <div class="rating">
                            <span class="fa fa-star rated"></span>
                            <span class="fa fa-star rated"></span>
                            <span class="fa fa-star rated"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>

                    <div class="code">
                        <iframe class="iframe"
                        src="https://carbon.now.sh/embed?bg=rgba%2850%2C50%2C130%2C1%29&t=vscode&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=13px&ph=7px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522rating%2522%253E%250A%2520%2520%2520%2520%253Cspan%2520class%253D%2522fa%2520fa-star%2520rated%2522%253E%253C%252Fspan%253E%250A%2520%2520%2520%2520%253Cspan%2520class%253D%2522fa%2520fa-star%2520rated%2522%253E%253C%252Fspan%253E%250A%2520%2520%2520%2520%253Cspan%2520class%253D%2522fa%2520fa-star%2520rated%2522%253E%253C%252Fspan%253E%250A%2520%2520%2520%2520%253Cspan%2520class%253D%2522fa%2520fa-star%2522%253E%253C%252Fspan%253E%250A%2520%2520%2520%2520%253Cspan%2520class%253D%2522fa%2520fa-star%2522%253E%253C%252Fspan%253E%250A%253C%252Fdiv%253E"
                        sandbox="allow-scripts allow-same-origin">
                        </iframe>
                    </div>
                </div>

                <div class="preview-code">
                    <h2>Half Star Rating</h2>
                    <div class="rating-block">
                        <div class="half-rating">
                            <span class="fa fa-star rated"></span>
                            <span class="fa fa-star rated"></span>
                            <span class="fa fa-star rated"></span>
                            <span class="fa fa-star-half-full rated"></span>
                            <span class="fa fa-star"></span>
                        </div> 
                    </div>

                    <div class="code">
                        <iframe class="iframe"
                        src="https://carbon.now.sh/embed?bg=rgba%2850%2C50%2C130%2C1%29&t=vscode&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=13px&ph=7px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522half-rating%2522%253E%250A%2520%2520%2520%2520%253Cspan%2520class%253D%2522fa%2520fa-star%2520rated%2522%253E%253C%252Fspan%253E%250A%2520%2520%2520%2520%253Cspan%2520class%253D%2522fa%2520fa-star%2520rated%2522%253E%253C%252Fspan%253E%250A%2520%2520%2520%2520%253Cspan%2520class%253D%2522fa%2520fa-star%2520rated%2522%253E%253C%252Fspan%253E%250A%2520%2520%2520%2520%253Cspan%2520class%253D%2522fa%2520fa-star-half-full%2520rated%2522%253E%253C%252Fspan%253E%250A%2520%2520%2520%2520%253Cspan%2520class%253D%2522fa%2520fa-star%2522%253E%253C%252Fspan%253E%250A%253C%252Fdiv%253E"
                        sandbox="allow-scripts allow-same-origin">
                        </iframe>
                    </div>
                </div>
        
            </div>
        </div>
    </div>


</body>

</html>

