<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>text</title>
    <link rel="stylesheet" href="../../../styles.css">
    <link rel="stylesheet" href="alerts.css">
</head>

<body>
    <div class="main">
        <nav class="navbar navbar-fixed">
            <div class="navbrand">KrishUI</div>
            <ul>
                <li class="list-pad list-non-bullet list-item-inline"><a href="./index.html"
                        class="no-decoration color-white">Get-Started</a></li>
                <li class="list-pad list-non-bullet list-item-inline"><a href="./docs/docs.html"
                        class="no-decoration color-white">Documentation</a></li>
            </ul>
        </nav>

        <div class="nav-doc-section">
            <div class="sidenav sidenav-fixed pad-10">
                <h2 class="pad-10">components</h2>
                <ul>
                    <li class="list-sn pad-10"><a class="no-decoration color-black" href="../avatar/avatar.html">avatar</a></li>
                    <li class="list-sn pad-10"><a class="no-decoration color-black" href="../badge/badge.html">badge</a></li>
                    <li class="list-sn pad-10"><a class="no-decoration color-black" href="./alerts.html">alerts</a></li>
                    <li class="list-sn pad-10"><a class="no-decoration color-black" href="../button/button.html">buttons</a></li>
                    <li class="list-sn pad-10"><a class="no-decoration color-black" href="../cards/cards.html">cards</a></li>
                    <li class="list-sn pad-10"><a class="no-decoration color-black" href="../image/image.html">image</a></li>
                    <li class="list-sn pad-10"><a class="no-decoration color-black" href="../input/input.html">input</a></li>
                    <li class="list-sn pad-10"><a class="no-decoration color-black" href="./text.html">text</a></li>
                    <li class="list-sn pad-10"><a class="no-decoration color-black" href="../list/list.html">list</a></li>
                    <li class="list-sn pad-10"><a class="no-decoration color-black" href="../navbar/navbar.html">navbar</a></li>
                </ul>
            </div>

            <div class="docs pad-10">
                <h1>Text Utilities</h1>
                <div class="preview-code">
                    <h2>Headings</h2>
                    <p>There are six type of heading starting from h1 to h6</p>
                    <div class="text-block"> 
                        <div class="block">
                            <h1>Heading 1</h1>
                            <h2>Heading 2</h2>
                            <h3>Heading 3</h3>
                            <h4>Heading 4</h4>
                            <h5>Heading 5</h5>
                            <h6>Heading 6</h6>
                        </div>
                    </div>

                    <div class="code">
                        <iframe class="iframe"
                        src="https://carbon.now.sh/embed?bg=rgba%2850%2C50%2C130%2C1%29&t=vscode&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=13px&ph=7px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%2520%253Ch1%253EHeading%25201%253C%252Fh1%253E%250A%2520%253Ch2%253EHeading%25202%253C%252Fh2%253E%250A%2520%253Ch3%253EHeading%25203%253C%252Fh3%253E%250A%2520%253Ch4%253EHeading%25204%253C%252Fh4%253E%250A%2520%253Ch5%253EHeading%25205%253C%252Fh5%253E%250A%2520%253Ch6%253EHeading%25206%253C%252Fh6%253E"
                        sandbox="allow-scripts allow-same-origin">
                      </iframe>
                    </div>
                </div>     

                <div class="preview-code">
                    <h2>Other text Utilities</h2>
                    <div class="text-block-other"> 
                        <div class="block block-other">
                            <p>This is paragraph</p>
                            <small>This is small text</small>
                            <p class="gray-text">This is gray text</p>
                            <p class="center-text">This is centered text</p>
                        </div>
                    </div>

                    <div class="code">
                        <iframe class="iframe"
                        src="https://carbon.now.sh/embed?bg=rgba%2850%2C50%2C130%2C1%29&t=vscode&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=13px&ph=7px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cp%253EThis%2520is%2520paragraph%253C%252Fp%253E%250A%253Csmall%253EThis%2520is%2520small%2520text%253C%252Fsmall%253E%250A%253Cp%2520class%253D%2522gray-text%2522%253EThis%2520is%2520gray%2520text%253C%252Fp%253E%250A%253Cp%2520class%253D%2522center-text%2522%253EThis%2520is%2520centered%2520text%253C%252Fp%253E"
                        sandbox="allow-scripts allow-same-origin">
                      </iframe>
                    </div>
                </div>     

            </div>
        </div>
    </div>


</body>

</html>