<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../avatar/avatar.css">
    <!-- doubt: if we import styles which contain avatar styles it's not applying why? -->
    <link rel="stylesheet" href="badge.css">

</head>
<body>
    <!--round badge-online -->
    <div class="badge-section">
        <img class="avatar-round avatar-xs " src="../../../asserts/avatarMale.jpg" alt="">
        <span class="badge-online badge-xs badge-end-rt"></span>
    </div>

    <div class="badge-section">
        <img class="avatar-round avatar-sm " src="../../../asserts/avatarMale.jpg" alt="">
        <span class="badge-online badge-end-rt"></span>
    </div>

    <div class="badge-section">
        <img class="avatar-round avatar-md " src="../../../asserts/avatarMale.jpg" alt="">
        <span class="badge-online badge-md badge-end-rt"></span>
    </div>

    <div class="badge-section">
        <img class="avatar-round avatar-lg " src="../../../asserts/avatarMale.jpg" alt="">
        <span class="badge-online badge-lg badge-end-rt"></span>
    </div>

    <div class="badge-section">
        <img class="avatar-round avatar-xl " src="../../../asserts/avatarMale.jpg" alt="">
        <span class="badge-online badge-xl badge-end-rt"></span>
    </div>
<br>
    <!-- badge-offline -->
    <div class="badge-section">
        <img class="avatar-round avatar-xs " src="../../../asserts/avatarMale.jpg" alt="">
        <span class="badge-offline badge-xs badge-end-rt"></span>
    </div>

    <div class="badge-section">
        <img class="avatar-round avatar-sm " src="../../../asserts/avatarMale.jpg" alt="">
        <span class="badge-offline badge-end-rt"></span>
    </div>

    <div class="badge-section">
        <img class="avatar-round avatar-md " src="../../../asserts/avatarMale.jpg" alt="">
        <span class="badge-offline badge-md badge-end-rt"></span>
    </div>

    <div class="badge-section">
        <img class="avatar-round avatar-lg " src="../../../asserts/avatarMale.jpg" alt="">
        <span class="badge-offline badge-lg badge-end-rt"></span>
    </div>

    <div class="badge-section">
        <img class="avatar-round avatar-xl " src="../../../asserts/avatarMale.jpg" alt="">
        <span class="badge-offline badge-xl badge-end-rt"></span>
    </div>
    <!-- notification badge -->
    <br>
    <div class="badge-on-icon">
        <i class="fa fa-bell icon"></i>
        <span class="icon-badge">10</span>
    </div>

    <div class="badge-on-icon">
        <i class="fa fa-shopping-cart icon"></i>
        <span class="icon-badge">5</span>
    </div>

</body>
</html>