.badge-block
{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    padding: 2rem;
    margin: 1rem;
}
.badge-section
{
    position: relative;
    display: inline;
}
.badge-end-rt
{
    position: absolute;
    bottom: 3px;
    right: 8px;
}
.badge-online
{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: green;
    border: 2px solid white; 
}
.badge-offline
{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgb(196, 7, 7);
    border: 2px solid white; 
}
.badge-xs
{
    width: 7px;
    height: 7px;
}
.badge-md
{
    width: 16px;
    height: 16px;
}
.badge-lg
{
    width: 22px;
    height: 22px;
}
.badge-xl
{
    width: 30px;
    height: 30px;
}

/* badge-on-icon */
.badge-on-icon
{
    margin: 0rem 2rem;
    position: relative;   
}
.icon
{
   font-size: 1.5rem !important;
}
.icon-badge
{
    background-color: rgb(196, 7, 7);
    color: white;
    padding: 0rem 0.4rem;
    border-radius: 48%;
    position:absolute;
    top: -0.9rem;
    left: 0.8rem;
    border: 0.05rem solid white;   
}

