<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Install</title>
    <link rel="stylesheet" href="../../../styles.css">
</head>

<body>
    <div class="main">
        <nav class="navbar navbar-fixed">
            <div class="navbrand">KrishUI</div>
            <ul>
                <li class="list-pad list-non-bullet list-item-inline"><a href="./install.html"
                        class="no-decoration color-white">Documentation</a></li>
                <li class="list-pad list-non-bullet list-item-inline"><a
                        href="https://github.com/teja538/component-library" class="no-decoration color-white">GitHub</a>
                </li>
            </ul>
        </nav>

        <div class="nav-doc-section">
            <div class="sidenav sidenav-fixed pad-10">
                <h2 class="pad-10">Get Started</h2>
                <li class="list-sn list-non-bullet pad-10"><a class="no-decoration color-black" href="./install.html">Installation</a></li>
                <h2 class="pad-10">components</h2>
                <ul>
                    <li class="list-sn list-non-bullet"><a class="no-decoration color-black" href="../avatar/avatar.html">Avatar</a></li>
                    <li class="list-sn list-non-bullet"><a class="no-decoration color-black" href="../badge/badge.html">Badge</a></li>
                    <li class="list-sn list-non-bullet"><a class="no-decoration color-black" href="../alerts/alerts.html">Alerts</a></li>
                    <li class="list-sn list-non-bullet"><a class="no-decoration color-black" href="../button/button.html">Buttons</a></li>
                    <li class="list-sn list-non-bullet"><a class="no-decoration color-black" href="../cards/cards.html">Cards</a></li>
                    <li class="list-sn list-non-bullet"><a class="no-decoration color-black" href="../image/image.html">Image</a></li>
                    <li class="list-sn list-non-bullet"><a class="no-decoration color-black" href="../input/input.html">Input</a></li>
                    <li class="list-sn list-non-bullet"><a class="no-decoration color-black" href="../text/text.html">Text</a></li>
                    <li class="list-sn list-non-bullet"><a class="no-decoration color-black" href="../list/list.html">List</a></li>
                    <li class="list-sn list-non-bullet"><a class="no-decoration color-black" href="../navbar/navbar.html">Navbar</a></li>
                    <li class="list-sn list-non-bullet"><a class="no-decoration color-black" href="../rating/rating.html">Rating</a></li>
                    <li class="list-sn list-non-bullet"><a class="no-decoration color-black" href="../modal/modal.html">Modal</a></li>
                    <li class="list-sn list-non-bullet"><a class="no-decoration color-black" href="../toast/toast.html">Toast</a></li>
                    <li class="list-sn list-non-bullet"><a class="no-decoration color-black" href="../grid/grid.html">Grid</a></li>
                </ul>
            </div>


            <div class="docs pad-10">
                <h1>Installation</h1>
                <p>KrishUI is very simple to install and you can use all the components in this library just by
                    including single link in your project. Copy the link shown below and include it in your "head tag" of html page. Now you can explore the components in 
                KrishUI component library and use them in your project by including corresponding classes.</p>

                <div class="preview-code">
                    <div class="code">
                        <iframe class="iframe"
                        src="https://carbon.now.sh/embed?bg=rgba%2850%2C50%2C130%2C1%29&t=vscode&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=13px&ph=7px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%2540import%2520url%28%2522https%253A%252F%252Fkrishui.netlify.app%252Fmain%252Fdev%252Fstyles.css%2522%29%253B"
                        sandbox="allow-scripts allow-same-origin">
                        </iframe>
                    </div>
                </div>
                <p>If you want to include Icons in your project then copy paste the below link in the head tag of your html page</p>
                <div class="preview-code">
                    <div class="code">
                        <iframe class="iframe"
                        src="https://carbon.now.sh/embed?bg=rgba%2850%2C50%2C130%2C1%29&t=vscode&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=13px&ph=7px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%2540import%2520url%28%2522https%253A%252F%252Fcdnjs.cloudflare.com%252Fajax%252Flibs%252Ffont-awesome%252F4.7.0%252Fcss%252Ffont-awesome.min.css%2522%29%253B" 
                        sandbox="allow-scripts allow-same-origin">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>