.toast-block
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    padding: 2rem;
    margin: 1rem;
}

.snackbar {
    visibility: hidden;
    min-width: 250px;
    background-color: var(--success-color);
    color: var(--white);
    text-align: center;
    border-radius: 2px;
    padding: 12px;
    position: fixed;
    top: 14%;
    right: 2%;
    z-index: 2;
    font-size: 17px;
  }

  .snackbar-bottom {
    visibility: hidden;
    min-width: 250px;
    background-color: var(--black);
    color: var(--white);
    text-align: center;
    border-radius: 2px;
    padding: 12px;
    position: fixed;
    bottom: 8%;
    right: 40%;
    z-index: 2;
    font-size: 17px;
  }


  