.nav-doc-section {
  display: flex;
}
.sidenav {
  width: 224px;
  height: 90vh;
  border-right: 1px solid #5e62f0;
  /* background-color: #5e63f0d8; */
}
.sidenav-fixed {
  position: fixed;
}
.docs {
  margin-left: 250px;
  margin-right: 9%;
  flex-grow: 1;
}
.list-sn:hover {
  cursor: pointer;
  background-color: var(--primary-color);
  border-radius: 5px;
  color: var(--white);
}
.list-sn a:hover {
  color: var(--white);
}
.list-sn
{
  padding: 0.5rem 1rem;
}

/*iframe*/
.iframe
{
    width:100%;
    max-width: 600px;
    height: 12rem;
    border:0;
    overflow:hidden;
}
.preview-code h2{
    margin-top: 1.5rem;
}
.code{
    display: flex;
    justify-content: center;
    padding: 1.2rem;
}
