@import url(./variables.css);

.parent-block
{
    height: 84vh;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.image-md
{
    width: 32rem;
    height:28rem;
}

.block1
{
    width: 30rem;
}

.block1 h1{
    margin-bottom: 12px;
    font-size: 3.5rem;
}

.block1 p
{
    line-height: 1.6rem;
    color: rgba(0, 0, 0, 0.863);
}

.btn
{
    padding:10px;
    margin-top: 20px;
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: 5px;
    border: none;
}

.color-primary
{
    color: var(--primary-color);
}


